body {
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
}
 
a {
  text-decoration: none;
}

br {
  padding: 20%;
}

.form-control {
  box-sizing: content-box;
}

.search-area {
  text-align: center;
  padding: 15%;
}

#search{
  background-color: transparent;
  color: black;
  font-size: 12px;
  padding: 0%;
}

#search:hover {
  background-color: transparent;
  color: rgb(110, 109, 109);
  font-size: 12px;
  padding: 0%;
}

button {
  border: 1px solid black;
  color: black;
  background-color: transparent;
  font-size: 12px;
  box-shadow: #444343 2px 2px;
}

button:hover{
  border: 1px solid black;
  color: green;
  background-color: transparent;
  font-size: 12px;
  box-shadow: #333 3px 3px;
}

.btn {
  border: none;
  outline: none;
  color: black;
  background-color: transparent;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
}

.btn:hover {
  border: none;
  cursor: pointer;
  color: darkgrey;
  background-color: transparent;
  padding-right: 2.5px;
  padding-left: 2.5px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 17px;
}

h1 {
  text-align: center;
  font-size: 45px;
  padding-top: 5%;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; 
}


.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: lightskyblue;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* .actions {
  border: .5px solid black;
} */

.table, th, td {
  border: 1px solid black;
  text-align: center;
  padding: 0%;
  vertical-align: middle;
}

#table-inputs {
 outline: none;
 border: none;
 text-align: center;
}

thead {
  background: linear-gradient(to bottom, white, lightskyblue);
  text-align: center;
  vertical-align: middle;
  font-weight: bolder;
}

#deletebtn:hover {
color: red;
}

#searchbtn {
  background: linear-gradient(to bottom, white, lightskyblue);
}

.search-table {
  /* border: .5px solid black; */
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

.form-control {
  font-size: 16px;
  text-align: center;
  max-width: fit-content;
  justify-content: center;
  display: block;
  margin: 0 auto;
}