form {
  text-align: center;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: underline;
  text-decoration-color: lightskyblue;
  text-decoration-thickness: 0.3em;
  text-underline-offset: -0.15em ;
  text-decoration-skip-ink: none;
  text-align: center;
  font-size: 3.5vw;
  padding-top: 5%;
}

.call-log-head {
  position: fixed;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2vw;
}

 body {
  font-family: 'Prompt', sans-serif;
 }

a {
  text-decoration: none;
}

br {
  padding: 20%;
}

.search-area {
  text-align: center;
}

/* call data table */
.call-data{
  background-color: rgb(176, 225, 255);
  font-family: 'Ubuntu', sans-serif;
  width: 100px;
  height: fit-content;
  border: none;
  font-size: 12px;
  text-shadow: white 1px 1px;
}

/* search magnifying glass button on calls table */
#search{
  background-color: transparent;
  border: none;
  color: rgba(0, 82, 182, 0.748);
  font-size: 12px;
  padding: 0%;
  text-shadow: black 1px 1px;
}

/* search magnifying glass button on calls table*/
#search:hover {
  background-color: transparent;
  color: white;
}

/* save button */
#save-btn {
  border: 1px solid black;
  color: black;
  background-color: transparent;
  font-size: 12px;
  box-shadow: #444343 2px 2px;
}

/* save button */
#save-btn:hover{
  border: 1px solid black;
  color: green;
  background-color: transparent;
  font-size: 12px;
  box-shadow: #333 3px 3px;
}

/* edit pencil button on calls table */
#edit-btn {
  border: none;
  color: black;
  background-color: transparent;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
}

#edit-btn:hover {
  border: none;
  cursor: pointer;
  color: darkgrey;
  background-color: transparent;
  padding-right: 2.5px;
  padding-left: 2.5px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 17px;
}

/* trashcan button on calls table */
#deletebtn{
  background-color: transparent;
  border: none;
  color: black;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
}
#deletebtn:hover {
  color: red;
  padding-right: 2.5px;
  padding-left: 2.5px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 17px;
  }

/* back button for search templates */
#backbtn {
  background-color: transparent;
  color: black;
  border: none;
}
#backbtn:hover {
  color: rgb(181, 5, 5);
}

/* search button for search templates */
#searchbtn {
  border: none;
  background: linear-gradient(to bottom, white, lightskyblue);
  font-size: 14px;
  color: black;
  box-shadow: #333 3px 3px;
}
#searchbtn:hover {
  background: linear-gradient(to top, white, lightskyblue);
  font-size: 14px;
  color: #444343;
  box-shadow: #333 5px 5px;
}

/* search area for search templates */
.search-table {
  text-align: center;
}


/* Navbar container */
.navbar {
  margin: 0 auto;
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: lightskyblue;
}

/* call table  */
.tableFixHead {
  overflow: scroll; /* make the table scrollable if height is more than 200 px  */
  height: 400px; /* gives an initial height to the table */
  border-top: 1px solid black;
  padding-bottom: 10px;
}

/* keeps table head in fixed position when scrolling */
.tableFixHead thead th {
  position: sticky; /* make the table heads sticky */
  top: 0px; /* table head will be placed from the top of the table and sticks to it */
  border: 1px solid black;
}

/* scrolls to bottom of call log */
#scrollarrow {
  color: black;
  text-shadow: white 1px 1px;
  background-color: transparent;
  font-size: 13px;
  border: none;
}

#scrollarrow:hover {
  cursor: pointer;
  color: lightskyblue;
  text-shadow: #333 1px 1px;
}

/* calls table */
table, td, th {
  border: 1px solid black;
  border-collapse: collapse; /* make the table borders collapse to each other */
  text-align: center;
  padding-left: 0%;
  vertical-align: middle;
  table-layout: auto;
  width: 100%;
}

/* edit call table */
.table{
  overflow: auto; /* make the table scrollable  */
}

/* table input areas */
#table-inputs {
 outline: none;
 border: none;
 text-align: center;
}

thead {
  background: linear-gradient(to bottom, white, lightskyblue);
  text-align: center;
  vertical-align: middle;
  font-weight: bolder;
  position: sticky;
  top: 0;
}

img {
  display: block;
  margin: 0 auto;
}

.form-control {
  font-size: 16px;
  text-align: center;
  max-width: fit-content;
  justify-content: center;
  display: block;
  margin: 0 auto;
  box-sizing: content-box;
}

/* new customer table  */
.new_cust_table{  
  table-layout: auto;
}
