<table class="table">
    <tr class="text-center">
        <th style="border: none;">Label</th>
        <th style="border: none;">Number</th>
    </tr>
    {% for num in contact_form.numbers %}
        <tr>
            <td style="border: none;">{{ num.form.number_type }}</td>
            <td style="border: none;">{{ num.form.number }}</td>
            <td style="border: none;"><button type="button" id="remove_num" class="btn btn-sm btn-link pt-0"><span class="bi-dash-circle" style="color: red;font-size: 20px;font-weight: bold;"></span></button></td>
        </tr>
    {% endfor %}
</table>

