<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/app.css">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <nav class="navbar">
        <a class="navbar-brand"><img src="{{ url_for('static', filename='assets/images/Worker Man.png') }}" alt="MWC Logo" style="width: 30px;height: 50px;"></a>
          <a href="/">Home</a>
          <a href="/phones">Employees</a>
          <a href="/calls">Call Log</a>
          <div class="dropdown">
            <button class="dropbtn">Customers
              <i class="fa fa-caret-down"></i>
            </button>
          <div class="dropdown-content">
              <a href="/customers/add">Add Customer</a>
              <a href="/search">Search Customer</a>
          </div>
        </nav>
    <div class="container">
    {% block content %} 
    {% endblock %}
    </div>
    
</body>
</html>