{% extends 'base.html' %}

{% block content %}
<table class="status-bar">
  <th class="call-data"><i class="fa-solid fa-circle-exclamation" style="color: rgb(234, 78, 78);"></i> Unresolved calls: {{ count_unresolved }}</th>
  <th class="call-data"><i class="fa-solid fa-phone-slash" style="color: rgb(248, 86, 86);"></i> Calls without response: {{ count_response }}</th>
  <th class="call-data"><i class="fa-solid fa-phone" style="color: rgb(118, 234, 118);"></i> Total Calls: {{ count_response }}</th>
</table>
  <h1>Call Log</h1>
  <form method="post">
    {{ form.csrf_token }}
  <div class="tableFixHead">
  <table id="table">
    <thead style="font-family: 'Ubuntu', sans-serif;">
      <tr>
        <th>Date
          <button type="button" id="scrollarrow" title= "Scroll to bottom" onclick="scrollToBottom()"><i class="fa-solid fa-circle-arrow-down"></i></button>
        </th>
        <th>Time</th>
        <th>Customer Name <a href="{{ url_for('name_search') }}" class="btn btn-sm btn-primary" id="search"><i class="fa-solid fa-magnifying-glass"></i></a></th>
        <th>Phone Number <a href="{{ url_for('phone_search') }}" class="btn btn-sm btn-primary" id="search"><i class="fa-solid fa-magnifying-glass"></i></a></th>
        <th>Community <a href="{{ url_for('community_search') }}" class="btn btn-sm btn-primary" id="search"><i class="fa-solid fa-magnifying-glass"></i></a></th>
        <th>Area <a href="{{ url_for('area_search') }}" class="btn btn-sm btn-primary" id="search"><i class="fa-solid fa-magnifying-glass"></i></a></th>
        <th>Address</th>
        <th>Customer Type</th>
        <th>Call Type <a href="{{ url_for('type_search') }}" class="btn btn-sm btn-primary" id="search"><i class="fa-solid fa-magnifying-glass"></i></a></th></th>
        <th>Comments</th>
        <th>Received Type</th>
        <th>Response <a href="{{ url_for('response_search') }}" class="btn btn-sm btn-primary" id="search"><i class="fa-solid fa-magnifying-glass"></i></a></th>
        <th>Card</th>
        <th>Database</th>
        <th>Resolved <a href="{{ url_for('resolved_search') }}" class="btn btn-sm btn-primary" id="search"><i class="fa-solid fa-magnifying-glass"></i></a></th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for call in calls %}
        <tr>
            <td><input type="date" name="date_{{ call.id }}" size="10" id="table-inputs" value="{{ call.date }}"></td>
            <td><input type="time" name="time_{{ call.id }}" size="8" id="table-inputs" value="{{ call.time }}"></td>
            <td><input type="text" name="customer-name_{{ call.id }}" size="18" id="table-inputs" value="{{ call.customer_name }}"></td>
            <td><input type="tel" name="phone_number_{{ call.id }}" size="13" id="table-inputs" value="{{ call.phone_number }}"></td>
            <td><input type="text" name="community_{{ call.id }}" size="15" id="table-inputs" value="{{ call.community }}"></td>
            <td><input type="text" name="area_{{ call.id }}" size="12" id="table-inputs" value="{{ call.area }}"></td>
            <td><input type="text" name="address_{{ call.id }}" size="20" id="table-inputs" value="{{ call.address }}"></td>
            <td><input type="text" name="customer_type_{{ call.id }}" size="8" id="table-inputs" value="{{ call.customer_type }}"></td>
            <td><input type="text" name="call_type_{{ call.id }}" size="10" id="table-inputs" value="{{ call.call_type }}"></td>
            <td><input type="text" name="comments_{{ call.id }}" size="20" id="table-inputs" value="{{ call.comments }}"></td>
            <td><input type="text" name="received_type_{{ call.id }}" size="3" id="table-inputs" value="{{ call.received_type }}"></td>
            
            {% if call.response == "no" %}
            <td style="background-color: rgb(255, 96, 96); font-weight: 300;">{{ call.response }}</td>
            {% else %}
            <td>{{ call.response }}</td>
            {% endif %}

            {% if call.card == "no" %}
            <td style="background-color: rgb(255, 96, 96); font-weight: 300;">{{ call.card }}</td>
            {% else %}
            <td>{{ call.card }}</td>
            {% endif %}

            {% if call.database == "no" %}
            <td style="background-color: rgb(255, 96, 96); font-weight: 300;">{{ call.database }}</td>
            {% else %}
            <td>{{ call.database }}</td>
            {% endif %}

            {% if call.resolved == "no" %}
            <td style="background-color: rgb(255, 96, 96); font-weight: 300;">{{ call.resolved }}</td>
            {% else %}
            <td>{{ call.resolved }}</td>
            {% endif %}
            <td class="actions"><a href="{{ url_for('edit_call', id=call.id) }}" id="edit-btn" class="btn btn-sm btn-primary"><i class="fa-regular fa-pen-to-square"></i></a>
            <a href="{{ url_for('delete_call', id=call.id) }}" id="deletebtn" class="btn btn-sm btn-primary" onclick="return confirmDelete()"><i class="fa-regular fa-trash-can"></i></a></td>
        </tr>
      {% endfor %}
        <tr>
          <td>{{ form.date }}</td>
          <td>{{ form.time }}</td>
          <td>{{ form.customer_name }}</td>
          <td>{{ form.phone_number }}</td>
          <td>{{ form.community }}</td>
          <td>{{ form.area }}</td>
          <td>{{ form.address }}</td>
          <td>{{ form.customer_type }}</td>
          <td>{{ form.call_type }}</td>
          <td>{{ form.comments }}</td>
          <td>{{ form.received_type }}</td>
          <td>{{ form.response }}</td>
          <td>{{ form.card }}</td>
          <td>{{ form.database }}</td>
          <td>{{ form.resolved }}</td>
          <td><button type="submit" id="save-btn"><i class="fa-solid fa-floppy-disk"></i> Save</button></td>
        </tr>
    </tbody>
  </table>
</div>
</form>
<a href="{{ url_for('archive_calls') }}" style="position: relative; margin-left: 92vw; font-size: .9vw;" id="archivebtn" class="btn btn-sm btn-primary">Archive Calls <i class="fa-solid fa-box-archive"></i></a>
<img src="/static/assets/images/bluewave.png" alt="blue-wave.png" width="100%" height="100px">
{% endblock %}